.part{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  .input{
    display: flex;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap;
    *{
      margin-right: 10px;
    }
  }
  h2{
    margin-bottom: 5px;
    color: #000000;
    font-weight: 800;
  }
}
