<nav class="bottom-nav">
    <button class="nav-item" (click)="goToOrder()">
        <div class="icon-container">
            <img class="icon" src="assets/img/client/cart-icon.svg" alt="cart">
            <span *ngIf="cartItemCount > 0" class="badge">{{cartItemCount}}</span>
        </div>
        <span class="label">Panier</span>
    </button>

    <button class="nav-item" (click)="goToHome()">
        <div class="icon-container">
            <img class="icon" src="assets/img/client/home-icon.svg" alt="home">
        </div>
        <span class="label">Accueil</span>
    </button>

    <button class="nav-item" (click)="goToOrdersView()">
        <div class="icon-container">
            <img class="icon" src="assets/img/client/orders-icon.svg" alt="orders">
        </div>
        <span class="label">Commandes</span>
    </button>
</nav>