<div class="process-wrap active-step1">
  <div class="process-main">
    <div class="col-3 ">
      <div class="process-step-cont" (click)="goTo('items')">
        <div [class]="currentStep == 'ITEM' ? 'process-step step-1 focus' : 'process-step step-1'"></div>
        <span [class]="currentStep == 'ITEM' ? 'process-label focus-label' :'process-label' ">Création du produit</span>
      </div>
    </div>
    @if (typeOfCreatingItem == "COMPOUND") {
      <div class="col-3 ">
        <div class="process-step-cont" (click)="goTo('sections')">
          <div [class]="currentStep == 'SECTION' ? 'process-step step-2 focus' : 'process-step step-2'"></div>
          <span [class]="currentStep == 'SECTION' ? 'process-label focus-label' :'process-label' ">Choix des sections</span>
        </div>
      </div>
    }
    <div class="col-3">
      <div class="process-step-cont" (click)="goTo('summary')">
        <div [class]="currentStep == 'SUMMARY' ? 'process-step step-4 focus' : 'process-step step-4'"></div>
        <span [class]="currentStep == 'SUMMARY' ? 'process-label focus-label' :'process-label' ">Récapitulatif</span>
      </div>
    </div>
  </div>
</div>
