/* Style général du footer */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Logo */
  .footer-logo .logo {
    width: 100px;
    margin-bottom: 15px;
  }
  
  /* Copyright */
  .footer-bottom p {
    font-size: 14px;
    margin: 0;
  }
  