section {
  display: flex;
  background-color: #f8f9fa;
  overflow: hidden;
  height: 100%;
  padding-bottom: 20px;

  .items {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding-right: 15px;
    height: 100%;

    app-items-container {
      overflow: hidden;
      height: 50%;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
      border-radius: 16px;
    }

    app-order-container {
      overflow: hidden;
      height: 50%;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
      border-radius: 16px;
    }
  }

  .company {
    flex: 1;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    padding: 24px 12px;
    overflow-y: auto;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-width: 400px;
    max-width: 35%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  section {
    flex-direction: column;

    .items {
      max-width: 100%; 
      margin-bottom: 20px;
      padding-right: 0;
    }
  
    .company {
      max-width: 100%;
    }
  }
}
